<!DOCTYPE html>
<html>
<head>
	<title>Add a new article</title>
</head>
<body>
	<header>
		<h1>Create an article</h1>
		<nav>
			<ul>
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/articles">Articles Index</a>
				</li>
			</ul>
		</nav>
	</header>
	<form action="/articles" method="POST">
		
		<label for="authorId">Author:</label>
		<select id="authorId" name="authorId">
			<% for (var i = 0; i < authors.length; i++) { -%>
				<option value="<%= authors[i].id %>"><%= authors[i].name %></option>
			<% } -%>
		</select>

		<br />
		<label for="title">Title</label><br>
		<input id="title" type="text" name="title" /><br>
		<label>Article Text</label><br>
		<textarea name="body" rows="10" cols="50">
			
		</textarea><br>
		<input type="submit" value="Publish Article!">
	</form>
</body>
</html>